header {
  .mobile-header {
    background-color:rgb(0, 63, 106);
    padding: 10px 15px;
    min-height: 60px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    color: white;
    height: 25px;
    width: 25px;
  }

  .icon:hover {
    color: #cccccc;
  }
}

@media (min-width: 768px) {
  header {
    .mobile-header {
      display: none;
    }
  }
}